In [1]:
import pandas as pd
import numpy as np

In [2]:
dataPr = pd.read_csv('dataset_pr.csv')

In [3]:
dataPr

                                                   Tweet  HS  Abusive
0      cowok usaha lacak perhati lantas remeh perhati...   1        1
1      terlambat eluedan sarap gaul cigax jifla cal n...   0        1
2      kadang berfikir percaya tuhan jatuh berkalikal...   0        0
3                               akunnku mata sipit lihat   0        0
4          kaum cebong kapir lihat dongok dongok hahahah   1        1
...                                                  ...  ..      ...
13164                    bicara ndasmu mulut kate anjyng   1        1
13165                                  kasur enak kunyuk   0        1
13166     hati hati bisu gnnlagi bosan mengeluh xfxfxxaa   0        0
13167  bom real mudah deteksi bom kubur dahsyat ledak...   0        0
13168                               situ foto kutil onta   1        1

[13169 rows x 3 columns]

In [4]:
dataPr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tweet    13125 non-null  object
 1   HS       13169 non-null  int64
 2   Abusive  13169 non-null  int64
dtypes: int64(2), object(1)
memory usage: 308.8+ KB

In [5]:
dataPr.isnull().sum()

Tweet      44
HS          0
Abusive     0
dtype: int64

In [9]:
dataPr = dataPr.dropna()

VECTORIZEN

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
X = dataPr['Tweet']

In [ ]:
vectorizer = TfidfVectorizer(max_features=5000) 
X_vectorized = vectorizer.fit_transform(X)

Bentuk hasil vektor: (13125, 5000)

In [15]:
print(X_vectorized.shape)

(13125, 5000)